<ion-header>
  <ion-toolbar>
    <ion-title>Survey</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Needs Bigger Check Boxes -->
    <h2> 1.What games do you play:</h2><BR>
      <input type="checkbox" id = "Game1" name = "Game1" value = "Modern Warfare">
       <label for = "Game1" style="font-size:  365%;"> Modern Warfare</label><br>

       <input type="checkbox" id = "Game2" name = "Game2" value = "Minecraft">
       <label for = "Game2" style="font-size:  365%;"> Minecraft</label><br>

       <input type="checkbox" id = "Game3" name = "Game3" value = "Apex Legends">
       <label for = "Game3" style="font-size:  365%;"> Apex Legends </label><br>

       <input type="checkbox" id = "Game4" name = "Game4" value = "Fortnite">
       <label for = "Game5" style="font-size:  365%;"> Fortnite </label><br>
       
       <input type="checkbox" id = "Game5" name = "Game5" value = "Fallout 76">
       <label for = "Game5" style="font-size: 365%;"> Fallout 76 </label><br><br>
      
        <ion-button routerLink="/survey2">Submit</ion-button>
      

      
    <!-- <p>2. How often do you play games: <BR>
      <input type="radio" name=" I play all day" value="maison">maison<BR>
        <input type="radio" name=" Often " value="quatre">quatre<BR>
        <input type="radio" name="Sometimes" value="soleil">soleil<BR>
        <input type="radio" name="Rarely" value="poisson">poisson<BR>
        </p> -->
      
</ion-content>
