<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Messages
    </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">
  <button routerLink = "/messages" id = "buttonOne">
    <ion-card class = "boxOne">
      <ion-row>
        <ion-col>
          <ion-text>David</ion-text>
          <br>
            <ion-text style="font-size:small">Simpinator</ion-text>
          <br><br>
        </ion-col>
          <ion-text>Similar games:</ion-text>
          <span>
            <ion-card class="similarGames”" color="primary" >
              Apex Legends
            </ion-card>
            <ion-card  class="similarGames" color="primary" >
              Minecraft
            </ion-card>
        </span>
      </ion-row>
    </ion-card>
  </button>
</ion-content>