<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Suggestions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Suggestions</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Suggestions"></app-explore-container>
  
  <button id="card" routerLink="/survey" style="background-color: black;">
    <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Survey</ion-card-subtitle>
      <ion-card-title>please take this short survey</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Please take this survey so we could determine which teamate would fit your criteria.
    </ion-card-content>
  </ion-card>
  </button>

</ion-content>
