.similarGames{
    font-size: x-small;
}
.boxOne{
    width: 100%;
 
 }
 
 #buttonOne{
     background-color: white;
 }

 .boxTwo{
    position: absolute; 
    top: 150px;
    width: 88%;
 
 }



 .boxThree{
    position: absolute; 
    top: 270px;
    width: 88%;
 
 }

 .boxFour{
    position: absolute; 
    top: 390px;
    width: 88%;
 
 }

 .boxFive{
    position: absolute; 
    top: 510px;
    width: 88%;
 
 }

 .boxsix{
    position: absolute; 
    top: 630px;
    width: 88%;
 
 }